{% load wagtailimages_tags wagtailcore_tags %}

<!-- Post Section -->
<section class="container my-5 py">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <section class="mb-4">
          {% image page.post_image fill-1500x750 as bg_post %}
          <img src="{{ bg_post.url }}" class="img-fluid rounded-0 mb-4" alt="">
        </section>
        {% for block in page.body %}
        {% include_block block %}
        {% endfor %}
        <hr>
        <p class="mb-4">{{ settings.site_settings.BlogSettings.post_posted }}
          <strong>{{ page.post_date }}</strong>
          {{ settings.site_settings.BlogSettings.post_by }} <strong>{{ page.post_author }}</strong></p>
        <hr class="mb-4">
      </div>
      <div class="col-lg-4 col-md-12">
        <p class="font-weight-bold text-center">{{ settings.site_settings.BlogSettings.post_related_articles }}
        </p>
        <div class="container">
          {% for post in blog %}
          {% if post.title != page.title %}
          <div class="bg-image ripple mb-5" data-mdb-ripple-color="dark">
            {% image post.post_image fill-1500x1000 as post_image %}
            <img src="{{ post_image.url }}" class="w-100" />
            <a href="{{ post.url }}">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <h3 class="text-white">{{ post.title }}</h3>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
              </div>
            </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>
</section>
<!-- END Post Section -->