{% load wagtailimages_tags %}

<!-- Work Section -->
<section id="work" class="py-5 my-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center pb-5 mb-2">
          <h3 class="work-title-a">
            {{ page.work_title }}
          </h3>
          {% if page.work_lead_text %}
          <p class="work-subtitle-a">
            {{ page.work_lead_text }}
          </p>
          {% endif %}
          <div class="work-line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

      {% for project in portfolio %}
      <div class="col-lg-4 col-md-6">
        <div class="card rounded-0">
          <div class="bg-image hover-zoom hover-overlay ripple rounded-0" data-mdb-ripple-color="dark">
            {% image project.cover_image_project fill-1200x600 as bg_work %}
            <img src="{{ bg_work.url }}" class="img-fluid" />
            <a href="{{ project.url }}">
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.575)"></div>
            </a>
          </div>
          <div class="card-body work-content">
            <div class="row">
              <div class="col-md-8">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.project_date }}</p>
              </div>
              <div class="col-md-4">
                <div class="w-like"><a href="{{ project.url }}"> <span><i class="far fa-plus-square"></i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
<!-- End Work Section -->
