{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/home.css' %}">
{% endblock %}

{% block content %}

<!-- Hero Section -->
{% include "home/home_hero_section.html" %}
<!-- END Hero Section -->

<main id="main">

  <!-- About Section -->
  {% include "home/home_about_section.html" %}
  <!-- END About Section -->

  <!-- Work Section -->
  {% include "home/home_work_section.html" %}
  <!-- END Work Section -->

  <!-- Blog Section -->
  {% include "home/home_blog_section.html" %}
  <!-- END Blog Section -->

  <!-- Contact Section -->
  {% include "home/home_contact_section.html" %}
  <!-- END Contact Section -->

</main>
{% endblock content %}
