{% load wagtailimages_tags wagtailcore_tags %}

<!-- Project Info Section -->
<section id="portfolio-details" class="portfolio-details mb-5">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="card rounded-0">
          <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
            {% image page.cover_image_project fill-1600x800 as cover_img %}
            <img src="{{ cover_img.url }}" class="img-fluid" />
            <a href="{{ page.project_url }}">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="portfolio-info">
            <h3>{{ settings.site_settings.PortfolioSettings.project_info }}</h3>
            <ul>
              <li>
                <strong>{{ settings.site_settings.PortfolioSettings.project_info_category }}</strong>:
                {{ page.category }}
              </li>
              {% if settings.site_settings.PortfolioSettings.project_info_client %}
              <li>
                <strong>{{ settings.site_settings.PortfolioSettings.project_info_client }}</strong>: {{ page.client }}
              </li>
              {% endif %}
              <li>
                <strong>{{ settings.site_settings.PortfolioSettings.project_info_project_date }}</strong>:
                {{ page.project_date }}</li>
              {% if settings.site_settings.PortfolioSettings.project_info_project_url %}
              <li>
                <strong>{{ settings.site_settings.PortfolioSettings.project_info_project_url }}</strong>:
                <a href="{{ page.project_url }}">{{ page.project_url }}</a>
              </li>
              {% endif %}
            </ul>
            <hr>
            <div class="d-grid gap-2 d-md-block">
              {% if settings.site_settings.PortfolioSettings.project_info_website_button %}
              <a href="{{ page.website_button_url }}" class="btn btn-outline-primary rounded-1 mb-1">
                {{ settings.site_settings.PortfolioSettings.project_info_website_button }}</a>
              {% endif %}
              {% if settings.site_settings.PortfolioSettings.project_info_github_button %}
              <a href="{{ page.github_button_url }}" class="btn btn-outline-dark rounded-1 mb-1">
                {{ settings.site_settings.PortfolioSettings.project_info_github_button }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card rounded-0">
          <div class="card-body">
            {% for block in page.body %}
            {% include_block block %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Project Info Section -->
