<!-- Footer -->
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>
<footer class="bg-black text-lg-start">
  <div class="col-md-12 text-center text-white d-flex align-items-end d-flex justify-content-center">
    <p>
      <strong>{{ settings.site_settings.FooterSettings.copyright }}</strong>
      {% now "Y" as current_year %}
      {{ current_year }}
    </p>
  </div>
</footer>
<!-- END Footer -->
