<!-- NavBar -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="/">{{ settings.site_settings.NavbarSettings.brand }}</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="/" class="logo"><img src="" alt="" class="img-fluid"></a>-->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/#hero">{{ settings.site_settings.NavbarSettings.home }}</a></li>
        <li><a class="nav-link scrollto" href="/#about">{{ settings.site_settings.NavbarSettings.about }}</a></li>
        <li><a class="nav-link scrollto " href="/#work">{{ settings.site_settings.NavbarSettings.work }}</a></li>
        <li><a class="nav-link scrollto" href="/#contact">{{ settings.site_settings.NavbarSettings.contact }}</a></li>
      </ul>
      <i class="fas fa-bars mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<!-- END Navbar -->